<div style="background-color:#ECF4D6;"  width="100%;" height="100%;">

<!-- Titulo -->
<div style="text-align: center;">
	<h1>
		{{title}}
	</h1>
</div>

<!-- Tabela -->
<div>
	<table class="center-hor layout-table" width="500px">
		<thead>
		<tr class="header-table-gray">
			
			<th>
				id
			</th>

			<th>
				nome mercadoria
			</th>
			<th>
				quantidade
			</th>
		</tr>
		</thead>
		
		<tbody>
			<tr class="text-center" *ngFor="let mercadoria of mercadorias; let i=index; let par=even; odd as impar;"[ngClass]="{par:par,impar:impar}">
				
				<td>
		           {{mercadoria.id}}
				</td>

				<td>
					{{mercadoria.descricao}}
				</td>

				<td>
					{{mercadoria.quantidades}}
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>