.center-hor{
	margin-right: auto;
	margin-left: auto;

}	


.layout-table th{
	border-style: groove;
	border-width: 5px;
	border-color:#572b0c;
	background-color:hwb(20 16% 72%);
	color: #000;
}
	
.layout-table{
	background-color: #3c1900 ;
	font-family: Rubik Scribble;
	
	
	
}


.layout-table td{
	border-style: groove;
 	border-width: 5px;
	border-color: #2D1300;
	color: #000;

}

.text-center{
	text-align: center;
}

.impar{
 background-color: #40E0D0;	
 
}

.par{
  background-color: #7fffd4; 
}

.largura-input{
	width: 50%;

}


.largura-container{
	width: 500px;
	display: grid; 
    margin-top: 1%;
    margin-right: 11%;

  

}    