
<div style="background-color: #f1e8f5;">
	

<!-- Titulo -->
<div style="text-align: center;">
	<h1>
		{{title}}
	</h1>
</div>

<!-- Tabela -->
<div>
	<table class="center-hor layout-table" width="500px">
		<thead>
		<tr class="header-table-gray">
			
			<th>
				id
			</th>

			<th>
				nome mercadoria
			</th>
			<th>
				quantidade em estoque
			</th>

			<th>
				quantidade minima
			</th>
			<th>
				precisa comprar
			</th>
		</tr>
		</thead>
		
		<tbody>
			<tr class="text-center" *ngFor="let mercadoria of mercadorias; let i=index; let par=even; odd as impar;"[ngClass]="{par:par,impar:impar}"[ngSwitch]="true">
				
				<td>
		           {{mercadoria.id}}
				</td>

				<td>
					{{mercadoria.descricao}}
				</td>

				<td>
					{{mercadoria.quantidadeEstoque}}
				</td>
				<td>
		           {{mercadoria.quantidadeMinima}} 
				</td>

                <td>
		       <span *ngSwitchCase="mercadoria.quantidadeEstoque > mercadoria.quantidadeMinima"> Não </span>
		        <span *ngSwitchCase="mercadoria.quantidadeEstoque < mercadoria.quantidadeMinima"> Sim </span>
                <span *ngSwitchCase="mercadoria.quantidadeEstoque == mercadoria.quantidadeMinima"> Fique atento! jájá acaba </span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="largura-container center-hor">
	ID:
	<input type="text" name="id" class="largura-input" [ngModel]="newMercadoria.id">
	DESCRIÇÃO:
	<input type="text" name="descricao" class="largura-input" [ngModel]="newMercadoria.descricao">
	QUANTIDADE EM ESTOQUE:
	<input type="text" name="quantidadeEstoque" class="largura-input" [ngModel]="newMercadoria.quantidadeEstoque">
	QUANTIDADE MINIMA:
	<input type="text" name="quantidadeMinima" class="largura-input" [ngModel]="newMercadoria.quantidadeMinima">
</div>
</div>
<!-- o comando mais ODIADO de TODOS "mercadoria.quantidadeEstoque < mercadoria.quantidadeMinima" -->